@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.c-hero {
    margin-top: max(44px, 5dvh);
    height: calc(100dvh - max(44px, 5dvh));
    color: $dark-brown;
    padding-bottom: $space-xs;
    display: grid;

    &::after {
        content: "";
        grid-area: 1 / -1;
        background-color: $white;
        opacity: 0.5;
    }
}

.c-hero__content {
    z-index: 1;
    grid-area: 1 / -1;
    margin: auto;
}

.c-hero__image {
    height: calc(100dvh - max(44px, 5dvh));
    grid-area: 1 / -1;
    background-repeat: no-repeat;
    background-image: image-set(
        url("stephan-eickschen-UqJsmLA52Qc-unsplash.avif") type("image/avif"),
        url("stephan-eickschen-UqJsmLA52Qc-unsplash.webp") type("image/webp"),
        url("stephan-eickschen-UqJsmLA52Qc-unsplash.jpg") type("image/jpg"),
    );
    background-size: cover;
}

.c-hero__button {
    @include remove-default-anchor-styles;
    @include add-button-display-styles;
    @include touch-button;

    background: $indigo;
    color: $white;
    align-self: center;
    padding: $space-s $space-l;
    border-radius: $space-m;
    font-weight: $semibold;

    &:hover {
        scale: 105%;
    }

}