:root {
  --colour-white: oklch(100% 0 0);
  --colour-light-grey: oklch(75% 0 0);
  --colour-grey: oklch(50% 0 0);
  --colour-dark-grey: oklch(25% 0 0);
  --colour-black: oklch(0% 0 0);

  --font-size-s: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --font-size-m: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --font-size-l: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --font-size-xl: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --font-size-2xl: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --font-size-3xl: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var(--font-size-m);
  line-height: 1.5;
  color: var(--colour-dark-grey);
  background: var(--colour-white);
  margin: 0;
  padding: 0;
  scroll-padding-top: 7.5vh;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[class^='stack']>* {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.stack-large>*+* {
  margin-block-start: var(--space-l);
}

.stack-medium>*+* {
  margin-block-start: var(--space-m);
}

.stack-medium {
  scroll-snap-align: start;
}

.stack-small>*+* {
  margin-block-start: var(--space-s);
}

.vertically-centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
  /*! font-variant: small-caps; */
}

body {
  width: min(95vw, 1240px);
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: var(--colour-black);
  font-family: 'IBM Plex Serif', serif;
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}


h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

nav {
  position: sticky;
  top: 0;
  background: var(--colour-white);
  border-bottom: 1px solid var(--colour-light-grey);
  height: 5dvh;
  margin-bottom: var(--space-l);
}

nav>ul {
  list-style: none;
  display: flex;
  margin-top: 0;
  padding: 0;
  justify-content: space-around;
}

nav>ul>li>a {
  text-decoration: none;
  color: var(--colour-dark-grey);
  padding: var(--space-xs) 0;
}

nav>ul>li>a:hover {
  color: var(--colour-light-grey);
}

a {
  color: inherit;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

li {
  margin-left: 1rem;
  padding-left: 0.5rem;
}

section {
  scroll-snap-align: start;
}

.footer {
  background: var(--colour-dark-grey);
  height: 20dvh;
  margin-top: var(--space-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer__text {
  font-size: var(--font-size-s);
  color: var(--colour-white);
}

.hero {
  background-image: image-set(
    url("annie-spratt-B4w3LnP6Ec0-unsplash.avif") type("image/avif"),
    url("annie-spratt-B4w3LnP6Ec0-unsplash.webp") type("image/webp"),
    url("annie-spratt-B4w3LnP6Ec0-unsplash.jpg") type("image/jpeg")
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95dvh;
  padding: var(--space-s);
}

.hero__title {
  width: min(85vw, calc(1240px * 0.75));
  text-transform: uppercase;
  color: var(--colour-white);
  margin-top: var(--space-l);
}

.hero__text {
  width: min(85vw, 620px);
  color: var(--colour-white);
}

.hero__cfa {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--colour-white);
  color: var(--colour-black);
  border-radius: var(--space-2xs);
  padding: var(--space-2xs) var(--space-xs);
  min-width: 44px;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
  border: 4px solid transparent;
}

.hero__cfa:hover {
  border: 4px solid var(--colour-white);
}

.contact-methods {
  display: flex;
  flex-direction: column;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
}

.contact-method__phone {
  fill: var(--colour-black)
}

.contact-method__email {
  stroke: var(--colour-black)
}